.day-card {
  opacity: 0%;
  min-width: 15%;
  border: 1px solid #333;
  height: 200px;
}

.day-header-container {
  background-color: yellowgreen;
  display: flex;
  height: 10%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.time-slot {
  border: 1px dotted #000;
  margin: 5px;
}

.day-title {
  font-size: 18px;
  /* margin-left: auto; */
}

.course-code-title {
  margin: 0;
}