.day-card {
  border: 1px solid #333;
  flex: 0.5 0 18px;
  margin: 5px;
  min-width: fit-content;
  min-height: 300px;
}

.day-header-container {
  background-color: #aaa;
  display: flex;
  flex: 1;
  height: 22px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.time-slot {
  border: 1px dotted #000;
  margin: 5px;
}

.day-title {
  font-size: 18px;
  /* margin-left: auto; */
}

.course-code-title {
  margin: 0;
}