div .schedule {
    background-color: rgb(200, 220, 220);
    border-style: solid;
    border-width: 2px;
    width: 90%;
    height: min-content;
    min-height: 400px;
}

.schedule-header-container {
  display: block;
  margin-left: 2%;
}

.days-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80%;
}